# Firebase / secrets
serviceAccountKey.json
*.json

# Colab temporary files
*.png
*.csv

# Python cache
__pycache__/

# Environment files
.env
*.env

firebaseConfig.js
serviceAccountKey.json
colab/secrets.json

# OS junk
.DS_Store
Thumbs.db

# Node / tooling (future-proof)
node_modules/

# from obsidian notes
Obsidian/
daily summary/
Research/
3. ME420_Evaluation scheme.pdf
Datasets/
colab/RunFiles/
colab/sim_runs/
EKF/Datasets for EKF/
Example IDF files/
EP Launch results/
colab/ollama_models/
docs/
web/simone-hutsch-l8fyK9RS-OU-unsplash.jpg
EKF/results/
EKF/Exp setup/
LLMv2/flan_t5_xxl_requirements.md

#idf
in.idf

#LATEX files
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk

#drive mount
.tmp.driveupload
.tmp.drivedownload